<div>
    <form *ngIf="hotpepper">
        <div class="form-group">
            <img src="{{ hotpepper.image }}" class="card-img-top" alt="{{ hotpepper.title }}">
            <input type="text" class="form-control" id="image" value="{{ hotpepper.image }}">
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" value="{{ hotpepper.title }}">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" value="{{ hotpepper.description }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="'/peppers'">Cancel</button>
    </form>
</div>